@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(1, 2, 7, 1);

  color: rgba(255, 255, 255, 0.8);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-p-header.is-open .w-p-header-background {
  left: 0;
}
.w-p-header-button-wrapper {
  margin-left: auto;
}
.w-p-header-icon {
  display: none;
}

.w-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-p-navigation-list.is-open {
  right: 0;
}
.w-p-header-icon-menu {
  display: block;
}

.w-p-header-icon-button.is-open .w-p-header-icon-menu {
  display: none;
}

.w-p-header-icon-button.is-open .w-p-header-icon-close {
  display: block;
}

.w-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 59px;
  background: rgba(11, 11, 15, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.w-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(11, 11, 15, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.w-p-header.is-open .w-p-header-background {
  left: 0;
}
.w-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-p-header-icon-menu {
  display: block;
}

.w-p-header-icon-button.is-open .w-p-header-icon-menu {
  display: none;
}

.w-p-header-icon-button.is-open .w-p-header-icon-close {
  display: block;
}

.w-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.w-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  gap: 28px;
  background: rgba(1, 2, 7, 1);
}

.w-p-navigation-list.is-open {
  right: 0;
}

.w-p-navigation-link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-p-navigation-link:hover,
.w-p-navigatioт-link:focus {
  color: rgba(137, 207, 240, 1);
  text-decoration: underline;
}

.w-p-header.is-open {
  background-color: transparent;
}

.w-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1201px) {
  .w-p-navigation-img {
    display: flex;
    width: 39.9998893737793px;
    height: 43.240806579589844px;
    margin-right: 490px;
  }
  .w-p-policy-terms-header-icon-menu {
    display: none;
  }

  .w-p-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-p-header-icon-button {
    display: none;
  }
  .w-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-p-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    text-decoration: none;
  }

  .w-p-navigation-item-desk {
    display: none;
  }
}
.w-p-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/hero_section.png");
  margin: auto;
}
.w-p-home-container {
  width: 375px;
  padding: 492px 16px 0px;
  margin: auto;
}

.w-p-home-container-top {
  display: flex;
  flex-direction: column;
}

.w-p-home-title {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.w-p-home-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 24px 0 46px;
}
.w-p-home-text-q {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(137, 207, 240, 1);
}
.w-p-home-link {
  background: rgba(137, 207, 240, 1);

  width: 343px;
  border-radius: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(47, 47, 47, 1);
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.w-p-home-link:hover {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 30px 0px rgba(137, 207, 240, 0.5);
}

@media screen and (min-width: 1201px) {
  .w-p-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/Background\ Image.png");
  }
  .w-p-home-container {
    width: 1440px;
    padding: 266px 108px 0px;
  }
  .w-p-home-container-top {
    display: flex;
    flex-direction: column;
    width: 659px;
  }

  .w-p-home-title {
    font-family: Space Grotesk;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .w-p-home-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 24px 0 46px;
  }
  .w-p-home-text-q {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .w-p-home-link {
    width: 195px;
    border-radius: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.w-p-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.w-p-why-text-q {
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.w-p-why-list {
  padding: 52px 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.w-p-why-lists {
  display: none;
}
.w-p-why-item {
  width: 343px;
}
.w-p-why-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 24px 0 16px;
}
.w-p-why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.w-p-why-img {
  width: 343px;
  height: 228px;
}
.w-p-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1201px) {
  .w-p-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .w-p-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .w-p-gallery-button:hover {
    scale: 120%;
  }

  .w-p-why-container {
    width: 1440px;
    padding: 100px 108px;
  }
  .w-p-why-text-q {
    padding-top: 8px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 600px;
    margin: auto;
  }
  .w-p-why-list {
    display: none;
  }
  .w-p-why-lists {
    display: block;
    padding: 60px 0 40px;
  }
  .w-p-why-item {
    width: 392px;
    height: 430px;
    margin: 0 12px;
  }
  .w-p-why-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 24px 0 16px;
  }
  .w-p-why-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .w-p-why-img {
    width: 392px;
    height: 262px;
  }
}

.w-p-uniqueness {
  margin: auto;
  width: 375px;
  height: 1154px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
}
.w-p-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 120px 32px 0;
}
.w-p-uniqueness-text-q {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  padding: 8px 0 32px;
}
.w-p-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.w-p-uniqueness-item {
  display: flex;
  align-items: start;
  gap: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.w-p-uniqueness-text {
  color: rgba(137, 207, 240, 1);
}

@media screen and (min-width: 1201px) {
  .w-p-uniqueness {
    width: 1440px;
    height: 816px;
    background-image: url("/img/2.png");
  }
  .w-p-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 160px 168px 0 754px;
  }
  .w-p-uniqueness-text-q {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 580px;
    padding: 8px 0 32px;
  }
  .w-p-uniqueness-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .w-p-uniqueness-item {
    display: flex;
    align-items: start;
    gap: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.w-p-about-title {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-p-about-title-w {
  text-align: left;
}
@media screen and (min-width: 1201px) {
  .w-p-about-title {
    font-family: Space Grotesk;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 600px;
    margin: auto;
  }
  .w-p-about-title-w {
    text-align: left;
    width: 518px;
  }
}

.w-p-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}
.w-p-how-q {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  padding: 8px 0 40px;
}
.w-p-how-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.w-p-how-item {
  width: 205px;
  height: 300px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.w-p-how-img {
  margin: auto;
}

.w-p-how-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 40px;
}
.w-p-how-title {
  text-align: center;
}
@media screen and (min-width: 1201px) {
  .w-p-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px;
  }

  .w-p-how-q {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 8px 0 60px;
  }
  .w-p-how-list {
    display: flex;
    flex-direction: row;
    gap: 51px;
    align-items: center;
  }

  .w-p-how-item {
    width: 204px;
    height: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .w-p-how-img {
    margin: auto;
  }

  .w-p-how-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 40px;
  }
}

.w-p-features {
  margin: auto;
  width: 375px;
  height: 755px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Form.png");
}

.w-p-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px 0;
}
.w-p-features-title {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-p-features-q {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 0;
}
.w-p-features-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(137, 207, 240, 1);
  padding: 0px 0 40px;
  text-decoration: none;
}

.w-p-features-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.w-p-features-input {
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  background: rgba(22, 23, 24, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);

  border: none;
}
.w-p-features-textarea {
  height: 145px;
}
.w-p-features-button {
  width: 132px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 50px;
  background: rgba(137, 207, 240, 1);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(47, 47, 47, 1);
  border: none;
  margin: auto;
  margin-top: 16px;
  transition: all 0.3s ease-in-out;
}
.w-p-features-button:hover {
  box-shadow: 0px 0px 30px 0px rgba(137, 207, 240, 0.5);
}
@media screen and (min-width: 1201px) {
  .w-p-features {
    margin: auto;
    width: 1440px;
    height: 877px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Form\ \(1\).png");
  }

  .w-p-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 420px 0;
  }
  .w-p-features-title {
    font-family: Space Grotesk;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .w-p-features-q {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 8px 0;
  }
  .w-p-features-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0px 0 60px;
    text-decoration: none;
  }

  .w-p-features-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .w-p-features-input {
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    background: rgba(22, 23, 24, 1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    border: none;
  }
  .w-p-features-textarea {
    height: 145px;
  }
  .w-p-features-button {
    width: 132px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 50px;
    background: rgba(137, 207, 240, 1);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(47, 47, 47, 1);
    border: none;
    margin: auto;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
  }
}

.w-p-container {
  padding: 119px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.w-p-container h1 {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.w-p-container h2 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.w-p-container h3 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.w-p-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-p-container ul li {
  margin-bottom: 10px;
}
.w-p-container p {
  margin-top: 10px;
}
.w-p-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  color: rgba(22, 150, 255, 0.8);
}

.w-p-container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1201px) {
  .w-p-container {
    padding: 170px 212px 96px;
    width: 1440px;
    margin: auto;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .w-p-container h1 {
    font-family: Space Grotesk;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .w-p-container h2 {
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .w-p-container h3 {
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .w-p-container ul {
    margin-top: 20px;
  }

  .w-p-container ul li {
    margin-bottom: 10px;
  }
  .w-p-container p {
    margin-top: 20px;
  }
}

.w-p-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.w-p-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.w-p-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.w-p-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1201px) {
  .w-p-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;
    align-items: stretch;
    gap: 60px;
  }

  .w-p-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 74px;
  }

  .w-p-footer-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-p-footer-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.w-p-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(33, 33, 48, 1);

  z-index: 1000;
  display: none;
}

.w-p-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);
}

.w-p-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.w-p-cookie-button {
  border: none;
  background-color: transparent;
  width: 343px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 50px;

  border: 1px solid rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.w-p-cookie-button:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(1, 2, 7, 1);
}
#accept-cookies {
  background: rgba(105, 0, 166, 1);
  border: none;
}
#accept-cookies:hover {
  background: rgba(66, 0, 104, 1);
  color: rgba(255, 255, 255, 1);
}
.w-p-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1201px) {
  .w-p-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-p-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    width: 808px;
  }

  .w-p-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .w-p-cookie-button {
    width: 184px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50px;
  }
  .w-p-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
